DIALER_USER=
DIALER_PASSWORD=

DIALER_MAC_ADDRESS=
DIALER_CLIENT_ID=

LOGIN_RETRY_INITIAL_SECONDS=5
LOGIN_RETRY_MAX_SECONDS=60
HEARTBEAT_FAILURE_THRESHOLD=3
PORTAL_DETECTION_THRESHOLD=3
NETWORK_CHECK_INTERVAL_SECONDS=5
HEALTH_AUTH_MAX_AGE_SECONDS=300
NETWORK_CHECK_URLS=http://www.gstatic.com/generate_204,http://connect.rom.miui.com/generate_204,http://www.msftconnecttest.com/connecttest.txt
